*{
    margin: 0px;
    padding: 0px;
}

.header{
    nav{
        background-color: black;
        color: white;
        padding: 20px;
    }
    ul{
        display: inline;
        margin-left: 60%;

        li{
            display: inline;
            cursor: pointer;
        }
    }
    .logo{
        display: inline;
    }
}
.search{
    text-align: center;
    margin-top: 30px;

    input{
        padding: 10px;
        width: 600px;
        border-radius: 10px;
    }
}
.product{
    text-align: center;
    margin-top: 30px;
    .box{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        display: inline-block;
        cursor: pointer;
    }
    .box:hover{
        background-color: black;
        color: aliceblue;
    }
}
.about{
    h1{
        text-align: center;
        margin-top: 30px;
    }
    p{
        text-align: center;
        margin-top: 10px;
    }
}
.contact{
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
    
    p{
        margin-top: 25px;
    }
}
